* {
    margin: 0px;
    padding: 0px;
}

.header-main-cnt {
    width: 100%;
    height: 60px;
    display: flex;
    background: #A03037 0% 0% no-repeat padding-box;
    opacity: 1;
    align-items: center;
    justify-content: space-between;
}

.header-logo-search-main-cnt {
    width: 48.3%;
    display: flex;
    margin-left: 11.9%;
    gap: 6.3%;
}

.header-logo-main-cnt {
    width: 19.3%;
    display: flex;
    gap: 4.6%;
    align-items: center;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #9D9D9D;
    opacity: 1;
    cursor: pointer;

    img {
        width: 24.35%;
        height: 23.7px;
        object-fit: cover;
        cursor: pointer;
    }

    p {
        text-align: left;
        font: normal normal normal 20px/26px Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-transform: capitalize;
        opacity: 1;
        cursor: pointer;
    }
}

.header-search-main-cnt {
    width: 74.24%;
    height: 33px;
    background-color: #FCFCFC;
    border-radius: 4px;
    display: flex;
    align-items: center;

    #header-seacrh-logo {
        margin-left: 2.81%;
        width: 3.6%;
        height: 16.9px;
        color: #9D9D9D;
    }

    input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        border-radius: 4px;
    }
}

.header-opt-main-cnt {
    width: 14%;
    height: 100%;
    display: flex;
    margin-right: 10.7%;

    .header-opt-acct-cnt {
        width: 50%;
        display: flex;
        border: 1px solid #7a1c22af;
        justify-content: center;
        align-items: flex-end;
        color: white;

        .header-opt-acct-inner-cnt {
            margin-bottom: 4px;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 4px;
            cursor: pointer;

            #header-opt-acct-logo {
                width: 60%;
                cursor: pointer;
            }

            p {
                font: normal normal normal 10px/13px Roboto;
                letter-spacing: 0.45px;
                color: #FFFFFF;
                opacity: 1;
                cursor: pointer;
            }
        }
    }

    .header-opt-cart-cnt {
        border: 1px solid #7a1c22af;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .header-opt-cart-inner-cnt {
            margin-bottom: 4px;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            color: white;
            gap: 5px;
            cursor: pointer;

            #header-opt-cart-logo {
                width: 55%;
                cursor: pointer;

            }

            p {
                font: normal normal normal 10px/13px Roboto;
                letter-spacing: 0.45px;
                color: #FFFFFF;
                opacity: 1;
                cursor: pointer;

            }
        }
    }
}

.header-profile-main-before-login-cnt {
    width: 220px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    justify-content: flex-start;

    #header-profile-main-before-login-txt1 {
        font-size: 15px;
    }

    #header-profile-main-before-login-txt2 {
        font-size: 12px;
        color: rgb(141, 135, 135);
    }

    #header-profile-main-before-login-btn {
        margin-bottom: 10px;
        width: 60%;
        border: 1px solid #A03037;

        p {
            font-size: 14px;
            color: #A03037;
        }
    }

    #header-profile-main-before-login-order-btn {
        width: 55%;
        display: flex;
        gap: 5px;
        padding: 0px;
        margin-top: 10px;

        #header-profile-main-before-login-order-btn-logo {
            font-size: 20px;
            color: rgb(174, 167, 167);
        }

        p {
            font-size: 14px;
            color: rgb(174, 167, 167);
        }

    }

    #header-profile-main-before-login-wish-btn {
        width: 47%;
        display: flex;
        gap: 5px;
        padding: 0px;

        #header-profile-main-before-login-wish-btn-logo {
            font-size: 20px;
            color: rgb(174, 167, 167);
        }

        p {
            font-size: 14px;
            color: rgb(174, 167, 167);
        }
    }
}


#header-profile-main-login-cnt {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 21px;
    opacity: 1;
    height: 230px;

    .header-profile-main-login-img-cnt {
        height: 100%;
        width: 100%;
        background: #F5F5F5 0% 0% no-repeat padding-box;
        border-radius: 21px;
        opacity: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;

        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
        }

        p {
            padding-left: 10px;
        }
    }

    .header-profile-main-login-inp-main-cnt {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 44px 40px 52px;
        width: 40.33%;
        height: 282px;
        position: absolute;
        right: 0px;
        top: -20px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 15px #00000029;
        border: 1px solid #E4E4E4;
        border-radius: 6px;
        opacity: 1;

        .header-profile-main-login-inp-txt-cnt {
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;

            p {
                text-align: left;
                font: normal normal medium 25px/33px Roboto;
                letter-spacing: 0px;
                color: #878787;
                text-transform: uppercase;
                opacity: 1;
            }
        }

        .header-profile-main-login-inp-txt-main-cnt {
            cursor: pointer;
            p {
                text-align: left;
                font: normal normal normal 10px/13px Roboto;
                letter-spacing: 0px;
                color: #0A0102;
                text-transform: capitalize;
                opacity: 1;
            }
        }
    }

    #header-profile-main-login-inp-cnt {
        top: 396px;
        left: 727px;
        width: 227px;
        height: 30px;
        /* UI Properties */
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E2E2E2;
        border-radius: 2px;
        opacity: 1;


    }

    Button {
        width: 227px;
        height: 30px;
        background: #A03037 0% 0% no-repeat padding-box;
        border-radius: 3px;
        opacity: 1;
    }


}